*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bottoni{
    text-align: center;
    margin-top: 20px;
}
#griglia1{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
}

.box1,.box2,.box3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
}
.box1{
    width: calc(100% / 10);
    height: 50px;
}
.box2{
    width: calc(100% / 9);
    height: 55px;
}
.box3{
    width: calc(100% / 7);
    height: 70px;
}
.azure{
    background-color: rgb(18, 97, 97);
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}